body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 100%;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  justify-items: center;
  background-color: #fff;
  padding: 1rem;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

form#comment-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid #000;
  border-radius: 0;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
}
